#nav_body{
    
    width: 100%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}
#nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    width: 80%;
    margin: auto;
    
}
#logo{
    margin-right: 15px;
    
}
#logo>a>img{
    height: 45px;
}
#logo>a{
    text-decoration: none;
}
#user-signup{
    display: flex;
    justify-content: space-evenly;
}
#users-signup{
    display: flex;
    justify-content: space-evenly;

}
#login{
    padding: 6px 20px 6px 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 40px;
}
#login>a{
    text-decoration: none;
    color: black;
}
#login:hover{
    background-color: #202c45;
    color: white;
}
#login>a:hover{
    color: white;
}
#signup{
    padding: 6px 20px 6px 20px;
    background-color: #00d084;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 15px;
}
#signup>a{
    text-decoration: none;
    color: white;
}
#signup:hover{
background-color: #12dd92;
}
#bar{
   background-color: #202c45;
}
#inv_opt{
    border: none;
}
/* nav bar css ended */
#signupdet{
    margin-top: 150px;
    width: 100%;
}
#signupchild{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
#signfirstchild{
    text-align: center;
    width:100%;
   
}

.setaline{
    display: flex;
  justify-content: center;
  align-items: center;
}
.setaline>button{
    display: flex;
}
span{
    color: rgb(19, 125, 217);
    cursor: pointer;
}
.spn{
    visibility: hidden;
}
.setaline>button{
    background-color: white;
    color: black;
    border-color: #202c45;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    justify-content: center;
}
.setaline>button:hover{
    background-color: #566583;
    color: white;
}

#signupbtn>button{
    background-color: #00d084;
    color: white;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
   
}
#signupbtn>button:hover{
    background-color: #12dd92;
}
#signsecondchild{
    padding-top: 80px;
    width: 100%;
    text-align: center;
    
    
}
.rightone{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
.rightone>div{
    margin-left: 10px;

   
}


@media screen and (min-width:916px) and (max-width:3000px) {
    #inv_opt{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;  
    }
}
@media screen and (min-width:100px) and (max-width:915px) {
    #user-signup{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;
    }

    #user-signup{
        margin-top: 40px;
    }
    #login{
        padding: 6px 20px 6px 20px;
        background-color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signup{
        padding: 6px 20px 6px 20px;
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signupchild{
       flex-direction: column;
    }
}
