#nav_body{
    
    width: 100%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}
#nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    width: 80%;
    margin: auto;
    
}
#logo{
    margin-right: 15px;
    
}
#logo>a>img{
    height: 45px;
    max-width: 100%;
}
#logo>a{
    text-decoration: none;
}
#user-signup{
    display: flex;
    justify-content: space-evenly;
}
#users-signup{
    display: flex;
    justify-content: space-evenly;

}
#login{
    padding: 6px 20px 6px 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 40px;
}
#login>a{
    text-decoration: none;
    color: black;
}
#login:hover{
    background-color: #202c45;
    color: white;
}
#login>a:hover{
    color: white;
}
#signup{
    padding: 6px 20px 6px 20px;
    background-color: #00d084;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 15px;
}
#signup>a{
    text-decoration: none;
    color: white;
}
#signup:hover{
background-color: #12dd92;
}
#bar{
   background-color: #202c45;
}
#inv_opt{
    border: none;
}
/* nav bar css ended */
#signupdet{
    margin-top: 150px;
    width: 100%;
}
#signupchild{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
#signfirstchild{
    text-align: center;
    width:100%;
   
}

/* nav */

#head{
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#headchild{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 40px;
    margin: auto;
    justify-content:space-evenly;
    width: auto;
    
}
/* #child1{
    max-width: 100%;
} */
#headchild>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}
#child1>div{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    /* max-width: 100%; */
    max-width: 100%;
}
/* #email_div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#doit{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mail_inbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    font-size: 16px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #566583;
    max-width: 100%;
    padding-left: 20px;
}
#forgot>button{
    background-color: #00d084;
    color: white;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
   
}
#forgot>button:hover{
    background-color: #12dd92;
}
#appendotp{
    display: flex;
    flex-direction: column;
}
#appendotp>div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
}
#otpsub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    font-size: 16px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #566583;
    max-width: 100%;
    padding-left: 20px;
}


@media screen and (min-width:0px) and (max-width:1066px) {
    #child2{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;
    }

}
@media screen and (min-width:916px) and (max-width:3000px) {
    #inv_opt{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;  
    }
}
@media screen and (min-width:100px) and (max-width:915px) {
    #user-signup{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;
    }

    #user-signup{
        margin-top: 40px;
    }
    #login{
        padding: 6px 20px 6px 20px;
        background-color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signup{
        padding: 6px 20px 6px 20px;
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signupchild{
       flex-direction: column;
    }
}