#nav_body{
    
    width: 100%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    width: 80%;
    margin: auto;
    
}
#nav>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    cursor: pointer;
    
}
#nav>div:nth-child(1)>div{
  color: white;
    font-size: 20px;
}
#logo{
    margin-right: 15px;
    
}
#logo>a>img{
    height: 45px;
}
#logo>a{
    text-decoration: none;
}

#dropdownMenu2{
    background-color: white;
    color: #202c45;
    border: none;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#list_items{
    width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
}
#list_items>div>a{
    display: flex;
    width: 100%;
    padding: 10px;
    color: #202c45;
}
#list_items>div>a{
    text-decoration: none;
}
#list_items>div>a>div:nth-child(2){
    padding-left: 15px;
}
#list_items>div>a>div:nth-child(2)>li>h4{
    font-size: 15px;
}
#list_items p{
    font-size: 15px;
    margin-top: -10px;
}
#list_items>div>a>div:nth-child(2):hover{
    cursor: pointer;
    color: #00d084;
}
/* #dropdownMenu2:hover{
    text-decoration: underline;
    text-decoration-color:#00d084;
} */
#second_option>a>button{
font-size: 18px;
padding: 10px;
color: #202c45;;
}
#second_option>a>button:hover{
    color: rgb(134, 109, 148);
    /* text-decoration: underline;
    text-decoration-color:#00d084; */
}
#user-signup{
    display: flex;
    justify-content: space-evenly;
}
#login{
    padding: 6px 20px 6px 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 40px;
}
#login>a{
    text-decoration: none;
    color: black;
}
#signup{
    padding: 6px 20px 6px 20px;
    background-color: #00d084;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 15px;
}
#signup>a{
    text-decoration: none;
    color: white;
}
#signup:hover{
background-color: #12dd92;
}
#bar{
   background-color: #202c45;
}
#inv_opt{
    border: none;
}

/* nav completed */

#barr{
    background-color: #00d084;
    border: none;
    padding-right: 40px;
    padding-left: 40px;
}
#barr:hover{
    background-color: #12dd92;
    
}



@media screen and (min-width:916px) and (max-width:3000px) {
    #inv_opt{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;  
    }
}
@media screen and (min-width:100px) and (max-width:915px) {
    #visable{
        visibility: hidden;
        opacity: 0.0;
        display: none;
        position: absolute;
        left: -999999px;
    }

    #user-signup{
        margin-top: 40px;
    }
    #login{
        padding: 6px 20px 6px 20px;
        background-color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
    #signup{
        padding: 6px 20px 6px 20px;
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
    }
}


/* main home */



.sperateit{
    display: flex;
    justify-content: space-evenly;
}
.nav-item>button{
    font-size: 30px;
}




 #main{
    height: auto;
    width: 90%;
    border: 1px solid white;
    margin-top: 100px;
    margin: auto;
}
#main>div:nth-child(1){

    height: 5%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}

#main>div:nth-child(1)>a>button{
    height:100%;
    border-color: blue;
    border-radius: 10px;
    color: blue;
    background-color: white;
}
#parent{
    height: 90%;
    width: 100%;
    border: 1px solid white;
    display:flex;
    justify-content: space-between;
    margin-top: 40px;

}
#child1{
    height: 100%;
    width: 49%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    border: 1px solid grey;
    border-radius: 30px;
    /* margin-top: 20px;; */
    padding-bottom: 20px;
}
 
#imgdiv>img{
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
   
}
#div{
    padding-left: 5%;
}
#div>img{
    border-radius: 10px;
}
/* #child2{
    height: 100%;
    width: 50%;
    border: 1px solid white;
} */
#child1>div{
    border-radius: 30px;
   
}
#child1>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    /* padding-top: 1%; */
    
}

/* #child1>div:nth-child(3)>div{
    margin-top: 2%;
} */
/* #child1>div:nth-child(3)>div:nth-child(1){
    border: 1px solid orange;
    height: 100%;
    width: 180px;
} */


 /* #child1>div:nth-child(3)>div:nth-child(1)>h1{
     font-size: 100%; 
}  */
#child1>div:nth-child(3){
    padding-top:2%;
}
#child1>div:nth-child(3)>div:nth-child(2){
    border: 1px solid white;
    height: 60%;
    width: 140px;
    margin-right: 5%;
    
}
#child1>div:nth-child(3)>div:nth-child(2)>button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    border:0px;
    height: 100%;
    width: 100%;
}

@media all and (min-width:10px) and (max-width:312px){
    #child1>div:nth-child(3){
        flex-direction: column;
    }
    #child1>div:nth-child(3)>div:nth-child(2)>button{
        width: 100%;
    }
}
/* @media all and (min-width:10px) and (max-width:670px){
    
    #child1>div:nth-child(2)>div:nth-child(2){
        width: 100%;
    }
    #child1>div:nth-child(2)>div:nth-child(1){
        width: 100%;

    } 
   
} 
@media all and (min-width:10px) and (max-width:142px){
    #child1>div:nth-child(2)>div:nth-child(1)>h1{
        font-size: 100%;
    }
    #child1>div:nth-child(2)>div:nth-child(1)>p{
        font-size: 100%;
    }
} */

 #child1>div:nth-child(3){
    padding-top: 5%;
} 
 


/* for child 2 */
/* #main{
    height: 1500px;
    width: 100%;
    border: 1px solid white;
    margin-top: 100px;
}
#main>div:nth-child(1){

    height: 5%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
} */

/* #main>div:nth-child(1)>a>button{
    height:100%;
    border-color: blue;
    border-radius: 10px;
    color: blue;
    background-color: white;
} */
/* #parent{
    height: 90%;
    width: 100%;
    border: 1px solid blue;
    display:flex
} */
#child2{
    height: auto;
    width: 49%;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    border: 1px solid grey;
    border-radius: 30px;
    /* margin-top: 40px; */
    padding-bottom: 20px;
}
 
#imgdiv2>img{
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
   
}
 #div2{
    padding-left: 5%;
}
#div2>img{
    border-radius: 10px;
}
 
 /* #child2{
    height: 100%;
    width: 50%;
    border: 1px solid white;
}  */
 #child2>div{
    border-radius: 30px;
   
}
#child2>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    
}

#child2>div:nth-child(3)>div{
    margin-top: 5%;
}
/* #child2>div:nth-child(3)>div:nth-child(1){
    border: 1px solid orange;
    height: 50%;
    width: 180px;
}  */


 /* #child2>div:nth-child(3)>div:nth-child(1)>h1{
     font-size: 100%; 
}  */
#child2>div:nth-child(3)>div:nth-child(2){
    border: 1px solid white;
    height: 45%;
    width: 140px;
    margin-right: 5%;
}
#child2>div:nth-child(3)>div:nth-child(2)>button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    border:0px;
    height: 100%;
    width: 100%;
} 
@media all and (min-width:10px) and (max-width:1000px){
    #parent{
         flex-direction: column;
    
    }
    #child1{
        width: 100%;
    }
    #child2{
        width: 100%;
        margin-top: 40px;
    }
    }
@media all and (min-width:10px) and (max-width:312px){
    #child2>div:nth-child(3){
        flex-direction: column;
    }
    #child1>div:nth-child(3){
        flex-direction: column;
    }
    /* #child2>div:nth-child(3)>div:nth-child(2)>button{
        width: 100%;
    } */
}
/* @media all and (min-width:10px) and (max-width:317px){
    #child2>div:nth-child(3){
        flex-direction: column;
    }
    #child2>div:nth-child(3)>div:nth-child(2){
        
        width: 100%;
    }
    #child2>div:nth-child(3)>div:nth-child(2)>button{
        width: 100%;
        font-size: 80%;
    }
} */




@media all and (min-width:10px) and (max-width:670px){
    
    #child2>div:nth-child(2)>div:nth-child(2){
        width: 100%;
    }
    #child2>div:nth-child(2)>div:nth-child(1){
        width: 100%;

    }
   
} 
@media all and (min-width:10px) and (max-width:142px){
    #child2>div:nth-child(3)>div:nth-child(1)>h1{
        font-size: 100%;
    }
    #child2>div:nth-child(3)>div:nth-child(1)>p{
        font-size: 100%;
    }
} 


